<% provide(:title, @user.username) %>
    <section>
      <h1>
        <%= @user.username %>
      </h1>
    </section>
    <section>
      <%#= render 'shared/stats' %>
    </section>
  <div class="span8">
  </div>
